.inventory-card {
    margin: 15px 0px;
    width: 90vw;
}

.inventory-card:hover {
    background-color: lightpink;
}

.inventory-image {
    width: 60px;
    padding: 5px;
    text-align: left;
}

.item {
    text-align: left;
    padding: 10px 20px;
}

.subtitle {
    font-size: 1rem;
    color: #3895D3;
}